<!-- Services Section -->
    <section id="graphic-story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">Everyone who puts digital collections on the web describes them a little differently, which makes them very hard to find.  Here's how we fix that problem.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Harvest</h4>
                    <p class="text-muted">ESDN works with libraries, archives, historical societies, and museums that have digitzed their content to make it accessible as widely as possible.  First we do that by helping you configure a data feed that containc all of the information describing your digital collections.  It's easy.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Translate</h4>
                    <p class="text-muted">Then, ESDN works with you to refine your <a href="#">metadata</a>.  Metadata is the digital equivalent of cards in the classic library card catalog. Imagine how hard it would have been to find the book you want if every library had organized their card catalog differently? In this phase of our process, we resolve all of these differences in description.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deliver</h4>
                    <p class="text-muted">Finally, ESDN sends a single data stream describing participants collections in New York State to the Digital Public Library of America.  The result: trusted, high quality, primary source historical content is discoverable and available to many more people than exer before.</p>
                </div>
            </div>
        </div>
    </section>