<!-- Services Section -->
    <section id="what-we-do" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Wait, so what is this?</h3>
                    <p class="large">During the rise of mass market publishing of printed books in the 19th century, public librarians stepped up to the challenge of organizing and making the best of these books available to New Yorkers.  In this century, the libraries of New York are trying to do the same for important digital materials.</p>
 
<p>As an example, many libraries have spent years trying to make the historical treasures of New York -- its papers, photos and public records -- easier to find by scanning and putting digital copies online. But with so many different websites and databases to turn to, it can be difficult for residents, students, and researchers to uncover the rich history of our state. In 2013, the Empire State Digital Network (ESDN) was launched with the aim of collecting New York State’s digital library materials and bringing them all together in one place.</p>
 
<p>Before libraries were digital, we used card catalogs and the Dewey decimal system to organize and describe books and other documents so that people could locate them in buildings.  Unfortunately, digital libraries don’t use one simple system to organize and describe content so that we can find it easily on the internet.  ESDN is a translator that helps all of those different systems work together.  ESDN builds a catalog of those historically significant papers, photos, and public records for New York State, and then makes them available on a national platform called the Digital Public Library of America.</p>
                </div>
            </div>
            </div>
        </div>
    </section>